################################################################################
#  .gitignore
################################################################################

*.user
.vs
/nupkg
obj
bin
