################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.user
/.vs
/nuget/nupkg
/NET452/packages
/NET40/packages
/NET20/packages
/NET20/.vs
/NET40/.vs
/NET452/.vs
/NETCore2.1/.vs
/NETStandard2.0/.vs
/NETCore2.1/Afx.AspNetCore.Mvc/obj
/NETStandard2.0/Afx.Base/obj
/NETStandard2.0/Afx.Cache/obj
/NETStandard2.0/Afx.Data/obj
/NETStandard2.0/Afx.Data.Entity/obj
/NETStandard2.0/Afx.Data.Extensions/obj
/NETStandard2.0/Afx.Data.MSSQLServer.Entity/obj
/NETStandard2.0/Afx.Data.MySql.Entity/obj
/NETStandard2.0/Afx.Data.SQLite.Entity/obj
/NETStandard2.0/Afx.HttpClient/obj
/NETStandard2.0/Afx.Sockets/obj
/NETStandard2.0/Afx.Tcp.Host/obj
/NETStandard2.0/Afx.Base/bin
/NETStandard2.0/Afx.Cache/bin
/NETStandard2.0/Afx.Data/bin
/NETStandard2.0/Afx.Data.Entity/bin
/NETStandard2.0/Afx.Data.Extensions/bin
/NETStandard2.0/Afx.Data.MSSQLServer.Entity/bin
/NETStandard2.0/Afx.Data.MySql.Entity/bin
/NETStandard2.0/Afx.Data.SQLite.Entity/bin
/NETStandard2.0/Afx.HttpClient/bin
/NETStandard2.0/Afx.Sockets/bin
/NETStandard2.0/Afx.Tcp.Host/bin
/NETStandard2.0/Afx.Tcp.Protocols/bin
/NETStandard2.0/Afx.Tcp.Protocols/obj
/NETCore2.1/Afx.AspNetCore.Mvc/bin
/NET452/Afx.ActiveDirectory/bin
/NET452/Afx.Base/bin
/NET452/Afx.Cache/bin
/NET452/Afx.ActiveDirectory/obj
/NET452/Afx.Base/obj
/NET452/Afx.Cache/obj
/NET452/Afx.Data/bin
/NET452/Afx.Data/obj
/NET452/Afx.Data.Entity/bin
/NET452/Afx.Data.Entity/obj
/NET452/Afx.Data.Extensions/bin
/NET452/Afx.Data.Extensions/obj
/NET452/Afx.Data.MSSQLServer.Entity/bin
/NET452/Afx.Data.MSSQLServer.Entity/obj
/NET452/Afx.Data.MySql.Entity/bin
/NET452/Afx.Data.MySql.Entity/obj
/NET452/Afx.Data.Oracle.Entity/bin
/NET452/Afx.Data.Oracle.Entity/obj
/NET452/Afx.Data.SQLite.Entity/bin
/NET452/Afx.Data.SQLite.Entity/obj
/NET452/Afx.Forms.Controls/bin
/NET452/Afx.Forms.Controls/obj
/NET452/Afx.HttpClient/bin
/NET452/Afx.HttpClient/obj
/NET452/Afx.Sockets/bin
/NET452/Afx.Sockets/obj
/NET452/Afx.Tcp.Host/bin
/NET452/Afx.Tcp.Host/obj
/NET452/Afx.Tcp.Protocols/bin
/NET452/Afx.Tcp.Protocols/obj
/NET452/Afx.Web.Http/bin
/NET452/Afx.Web.Http/obj
/NET40/Afx.ActiveDirectory/bin
/NET40/Afx.ActiveDirectory/obj
/NET40/Afx.Base/bin
/NET40/Afx.Base/obj
/NET40/Afx.Cache/bin
/NET40/Afx.Cache/obj
/NET40/Afx.Data/bin
/NET40/Afx.Data/obj
/NET40/Afx.Data.Entity/bin
/NET40/Afx.Data.Entity/obj
/NET40/Afx.Data.Extensions/bin
/NET40/Afx.Data.Extensions/obj
/NET40/Afx.Data.MSSQLServer.Entity/bin
/NET40/Afx.Data.MSSQLServer.Entity/obj
/NET40/Afx.Data.MySql.Entity/bin
/NET40/Afx.Data.MySql.Entity/obj
/NET40/Afx.Data.SQLite.Entity/bin
/NET40/Afx.Data.SQLite.Entity/obj
/NET40/Afx.Forms.Controls/bin
/NET40/Afx.Forms.Controls/obj
/NET40/Afx.HttpClient/bin
/NET40/Afx.HttpClient/obj
/NET40/Afx.Sockets/bin
/NET40/Afx.Sockets/obj
/NET40/Afx.Tcp.Host/bin
/NET40/Afx.Tcp.Host/obj
/NET40/Afx.Tcp.Protocols/bin
/NET40/Afx.Tcp.Protocols/obj
/NET20/Afx.Base/bin
/NET20/Afx.Base/obj
/NET20/Afx.Data/bin
/NET20/Afx.Data/obj
/NET20/Afx.Forms.Controls/bin
/NET20/Afx.Forms.Controls/obj
/NET20/Afx.HttpClient/bin
/NET20/Afx.HttpClient/obj
/NET20/Afx.Sockets/bin
/NET20/Afx.Sockets/obj
/NET20/Afx.Tcp.Host/bin
/NET20/Afx.Tcp.Host/obj
/NET20/Afx.Tcp.Protocols/bin
/NET20/Afx.Tcp.Protocols/obj
/NETCore2.1/Afx.Base/bin/Debug/netcoreapp2.1
/NETCore2.1/Afx.Base/obj
/NETCore2.1/Afx.Cache/obj
/NETCore2.1/Afx.Data/bin/Debug/netcoreapp2.1
/NETCore2.1/Afx.Data/obj
/NETCore2.1/Afx.Data.Entity/obj
/NETCore2.1/Afx.Data.Extensions/bin/Debug/netcoreapp2.1
/NETCore2.1/Afx.Data.Extensions/obj
/NETCore2.1/Afx.Data.MSSQLServer.Entity/obj
/NETCore2.1/Afx.Data.MySql.Entity/obj
/NETCore2.1/Afx.Data.SQLite.Entity/obj
/NETCore2.1/Afx.HttpClient/obj
/NETCore2.1/Afx.Sockets/obj
/NETCore2.1/Afx.Tcp.Host/obj
/NETCore2.1/Afx.Tcp.Protocols/obj
