################################################################################
#  .gitignore
################################################################################

*.user
.vs
obj
bin
packages
/Publish
/nupkg
push.cmd
