<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <connectionStrings>
        <add name="SQLite" connectionString="Data Source=c:\FileSystem.db;Password=mycsv.cn;Version=3;Pooling=True;UseUTF16Encoding=False;DateTimeKind=Local" providerName="System.Data.SQLite"/>
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite"/>
            <add invariant="System.Data.SQLite" name="SQLite Data Provider" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" description=".Net Framework Data Provider for SQLite"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <enforceFIPSPolicy enabled="false"/>
    </runtime>
</configuration>
