<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings/>
  <appSettings>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <httpRuntime enableVersionHeader="false" targetFramework="4.0" />
    <sessionState cookieName="sid" mode="InProc" sessionIDManagerType="MyCsv.Web.MyCsvSessionIDManager,MyCsv.Web"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
</configuration>
