<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
        type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"/>
    </configSections>
    <connectionStrings>
        <add name="SqlServer"
            connectionString="Data Source=127.0.0.1,1433;Initial Catalog=Demo;User ID=sa;Password=123456;Pooling=True;Min Pool Size=1;Max Pool Size=100;Load Balance Timeout=30;Application Name=MyCsv.Entity"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>