<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <connectionStrings>
        <add name="Oracle" connectionString="Data Source=127.0.0.1:1521/ORCL;User ID=FileSystem;Password=123;Pooling=True;Min Pool Size=1;Max Pool Size=100;Connection LifeTime=30" providerName="Oracle.ManagedDataAccess.Client"/>
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework"/>
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add invariant="Oracle.ManagedDataAccess.Client" name="ODP.NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" description="Oracle Data Provider for .NET, Managed Driver"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <enforceFIPSPolicy enabled="false"/>
    </runtime>
</configuration>
